<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <rosparam command="load" file="$(find fabrics_bridge)/config/fabrics_panda_goal_only_config.yaml"/>
    <include file="$(find fabrics_bridge)/launch/fabrics_panda_node.launch" />
    <node name="interactive_marker" pkg="fabrics_bridge" type="interactive_marker.py">
        <param name="link_name" value="panda_link0" />
    </node>

</launch>
